<app-navbar></app-navbar>


<app-nuevo-articulo></app-nuevo-articulo>



<!-- mi tarjeta del producto -->
<br>

<div class="row row-cols-1 row-cols-sm-3 row-cols-md-5 row-cols-lg-6 g-0" style="justify-content:center; ">

    <div *ngFor="let articulo of listaArticulos" class="card col-9 col-sm-4 col-md-3 m-4">
        <img [src]="articulo.imagen[0]" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{articulo.titulo}}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{articulo.categoria}}</h6>
            <button type="button" (click)="modificarArticulo(articulo)" class="btn btn-primary btn-sm m-2" data-bs-toggle="modal"
                data-bs-target="#editar-Producto">
                Modificar
            </button>
            <button type="button" (click)="borrarArticulo(articulo)" class="btn btn-danger btn-sm m-2" id="">
                Eliminar
            </button>
        </div>

    </div><!-- Fila -->


    <!-- mi Modal detalle del producto -->
    <div class="modal fade" id="editar-Producto">
        <div class="modal-dialog">
            <div  class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">titulo</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <div class="row">

                        <!-- <div class="row col-md-3 form-check-label mb-3 mt-3 ">
                        <figure *ngFor="let item of imagenes" class="figure col-md-12">
                            <img [src]="item.name" class="img-fluid" alt="...">
                        </figure>
                        <figure class="figure col-md-12">
                            <img src="../../../../assets/vestido2.jpg" class="img-fluid" alt="...">
                        </figure>
                        <figure class="figure col-md-12">
                            <img src="../../../../assets/vestido3.jpg" class="img-fluid" alt="...">
                        </figure>
                    </div> -->

                        <div class="row col-md-12">
                            <figure *ngFor="let item of listaArticulos" class="figure col-md-6">
                                <img [src]="item.imagen[0]" class="img-fluid" alt="...">
                            </figure>
                        </div>
                    </div>
                    <div>
                        <input type="file">
                    </div>

                </div>

                <!-- Modal footer -->

                <div class="modal-footer">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="disponible" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Mostrar como disponible
                        </label>
                    </div>

                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal"
                        routerLink="/admin-catalogo">Guardar</button>
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancelar</button>
                </div>

            </div>
        </div>
    </div>