
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/auth/dashboard">
            <img src="../../../../assets/home.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            DressMe
        </a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/auth-turnos">TURNOS</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/auth/turnos">TURNOS</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/auth/catalogo">CATALOGO</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/auth/caja">CONTABILIDAD</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/auth/caja">CAJA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/auth/perfiles">PERFILES</a>
          </li>
        </ul>
        <button class="btn btn-dark" type="button" (click)="logOut()" >Salir</button>
      </div>
    </div>
  </nav>

