<footer class="footer">
    <div *ngFor="let tienda of tiendas$|async" class="container-fluid row row-cols-1 ">
        <div class="col-xsm-6 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <h2>{{tienda.footer}}</h2>
            </div>
        </div>
        <div class="col-xsm-6 col-sm-6 col-md-6 col-lg-6">
            <div class="red-social">
                <a target="_blank" href="{{tienda.instagram}}">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a target="_blank" href="{{tienda.email}}">
                    <i class="fa-brands fa-google"></i>
                </a>
                <a target="_blank" href="{{tienda.whatsapp}}">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>
        </div>
    </div>
</footer>