<!--::::Pie de Pagina::::::-->
<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="../../../../assets/logodressme.jpg" alt="Logo de DressMe">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>
        </div>
        <div class="box">
            <h2>SEGUINOS</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-whatsapp"></a>
                <!--    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>   \-->
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2023 <b>DressMe Version 1.1</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>