.footer{
    background-color: rgba(53, 31, 53, 0.452);
    display: flex;
    align-items: flex-end;
}
h2{
    font-family: cursive;
    font-size: 15px;
}

.box{
    margin: 60px;
}

.red-social{
    float: right;
    margin: 60px;
}

a{
    font-size: 30px;
    color: black;
    margin: 10px;
}