
/* Quitar el color y linea de los links */
a {
    text-decoration: none;
    color: black;
}

/* Lograr la imagen de portada a media altura y responsive */
img {
    display: block;
    width: auto;
    max-height: 600px;
}

p {
   
    font-family: 'TuFuentePreferida', sans-serif;
    font-size: 20px; 
    color: #ffffff; 
    font: bold;
  }
  h1{
    color: #ffffff; 

  }