<nav *ngFor="let tienda of tiendas$|async" class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <h1>{{tienda.titulo}}</h1>

    <div class="navbar" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">

          <button style="border: 1px solid silver; border-radius: 0.25em; padding: 0.5em;"><a target="_blank"
              href="{{tienda.instagram}}"><i class="fa-brands fa-instagram fa-xl "></i></a></button>
          <button style="border: 1px solid silver; border-radius: 0.25em; padding: 0.5em;"><a target="_blank"
              href="{{tienda.whatsapp}}"><i class="fa-brands fa-whatsapp fa-xl"></i></a></button>
          <button style="border: 1px solid silver; border-radius: 0.25em; padding: 0.5em;"><a
              href="javascript:void(window.open('https://form.jotform.com/232886443932061','blank','scrollbars=yes,toolbar=no, width=700,height=500'))">Agendar</a></button>

        </li>
      </ul>

      <button class="navbar-nav me-auto mb-2 mb-lg-0"
        style="border: 1px solid silver; border-radius: 0.25em; padding: 0.5em;" routerLink="/auth">login</button>

    </div>
  </div>
</nav>

<div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../../assets/header1.png" class="img-fluid w-100 " alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>Solo divertite</h1>
        <p>De tu look nos encargamos nosotros.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/header2.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>No repites look!</h1>
        <p>Con nosotros, cada ocación es especial.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/header3.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>No compres de nuevo!</h1>
        <p>Ocupate de disfrutar, no de gastar</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<div class="row row-cols-sm-2 g-0" style="justify-content:center" >
  <p style="text-align: justify;">
    Dale un vistazo a nuestros articulos, mira su detalle y si te interesa, agenda un turno con nosotros, te estaremos
    esperando para hacer de tu evento el mejor plan!
  </p>
  <br>
</div>