
/* Quitar el color y linea de los links */
a {
    text-decoration: none;
    color: black;
}

/* Lograr la imagen de portada a media altura y responsive */
img {
    display: block;
    width: auto;
    max-height: 600px;
}