<header class="header">
    <div class="container">
        <div class="title">
            <h1 class="title-text">Dress Me</h1>
        </div>
        <div class="nav-links">

            <a href="javascript:void(window.open('https://form.jotform.com/232656841554058',
                    'DressMe Turnos',
                    'scrollbars=yes,
                    toolbar=no,
                    width=700,
                    height=500',
                ))">AgendarTurno</a>
            <a routerLink="/auth" class="nav-link">Iniciar sesión</a>
        </div>
    </div>
</header>