<app-navbar></app-navbar>

<div class="container">
    <div class="row mt-4">
        <div class="col-md">
            <div class="project-name">
                <h1>Admin turnos</h1>
            </div>

            <br>
            <h2>Turnos</h2>
            <br>
            <div class="col-md">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <!-- <th>ID</th> -->
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Telefono</th>
                            <th class="text-right">Fecha</th>
                            <th class="text-right">Hora</th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let turno of turnos$ | async" id="">
                            <!-- <td>{{turno.id}}</td> -->
                            <td>{{turno.nombre}}</td>
                            <td>{{turno.email}}</td>
                            <td>{{turno.telefono}}</td>
                            <td>{{turno.fecha}}</td>
                            <td>{{turno.hora}}</td>
                            <td></td>
                            <td class="text-right" style="margin-left: 6px;">
                                <i class="fa-solid fa-pen-to-square text-info" (click)="editarTurno(turno)"></i>
                            </td>
                            <td class="text-right" style="margin-left: 6px;">
                                <i class="fa-solid fa-trash text-danger" (click)="eliminarTurno(turno)"></i>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <br>


    <!-- FORMULARIO DE CREACION DE NUEVO TURNO -->
    <div class="container">
        <div class="row mt-4">
            <div class="col-md">
                <div class="card-body">
                    <h2>{{ edicionActiva ? 'Editar Turno' : 'Nuevo Turno' }}</h2>
                    <form (ngSubmit)="guardarEdicion()" [formGroup]="formTurno">
                        <div class="mb-3">
                            <label class="form-label">Nombre</label>
                            <input type="text" formControlName="nombre" class="form-control" autocomplete="name">
                            <span
                                *ngIf="formTurno.get('nombre')?.hasError('required') && formTurno.get('nombre')?.touched"
                                class="text-danger">El nombre es obligatorio</span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" formControlName="email" class="form-control" autocomplete="username">
                            <span
                                *ngIf="formTurno.get('email')?.hasError('required') && formTurno.get('email')?.touched"
                                class="text-danger">El correo es obligatorio</span>
                            <span *ngIf="formTurno.get('email')?.hasError('email') && formTurno.get('email')?.touched"
                                class="text-danger">El correo no es válido</span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Teléfono</label>
                            <input type="text" formControlName="telefono" class="form-control" pattern="\d{10}"
                                placeholder="Ingrese el teléfono">
                            <span
                                *ngIf="formTurno.get('telefono')?.hasError('pattern') && formTurno.get('telefono')?.touched"
                                class="text-danger">Ingrese un número de teléfono válido (10 dígitos).</span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Fecha</label>
                            <input type="date" formControlName="fecha" class="form-control">
                            <span
                                *ngIf="formTurno.get('fecha')?.hasError('required') && formTurno.get('fecha')?.touched"
                                class="text-danger">La fecha es obligatoria</span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Hora</label>
                            <input type="time" formControlName="hora" class="form-control">
                            <span *ngIf="formTurno.get('hora')?.hasError('required') && formTurno.get('hora')?.touched"
                                class="text-danger">La hora es obligatoria</span>
                        </div>
                        <input type="hidden" formControlName="id">

                        <div *ngIf="!edicionActiva">
                            <!-- Campos adicionales para la creación de un nuevo turno si no está en modo de edición -->
                            <!-- ... (otros campos adicionales para la creación) ... -->
                        </div>
                        <button type="submit" class="btn btn-success" (click)="guardarEdicion">{{ edicionActiva ?
                            'Guardar Cambios' : 'Crear Turno' }}</button>
                        <span style="margin: 0 5px;"></span> <!-- Espacio entre los botones -->
                        <button type="button" class="btn btn-danger" (click)="cancelarEdicion()">Cancelar</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <br>

</div>