/* You can add global styles to this file, and also import other style files */
.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.span{
    text-align: start;
    margin-left: 5px;
}